Package: nintendo-switch-meta
Version: 1.0-8
Architecture: arm64
Maintainer: theofficialgman <dofficialgman@gmail.com>
Depends: switch-dock-handler, switch-alsa-ucm2, switch-touch-rules, switch-l4t-configs, switch-gnome | switch-kde, switch-dconf-customizations, switch-joystick-mouse, switch-bsp, switch-flatpak | switch-flatpak-32-7, switch-multimedia, switch-l4t-repo
Section: embedded
Priority: required
Essential: yes
Homepage: https://gitlab.com/switchroot
Description: Metapackage for all Nintendo Switch configuration packages
