Package: switch-bsp
Version: 5.1.2-21+24.04
Architecture: all
Maintainer: CTCaer <ctcaer@gmail.com>
Changed-By: theofficialgman <dofficialgman@gmail.com>
Pre-Depends: nvidia-bsp-32-3 | nvidia-bsp-32-7
Breaks: switch-kernel-headers
Replaces: switch-kernel-headers
Provides: switch-kernel-headers, linux-headers
Section: embedded
Priority: required
Homepage: https://gitlab.com/switchroot
Description: Switch L4T Bootstack and Kernel Support
