[Desktop Entry]
Type=Application
Name=Switch display script
Exec=/usr/bin/dock-hotplug-greeter
NoDisplay=true
X-GNOME-AutoRestart=true
X-GNOME-Autostart-enabled=true
X-Ubuntu-Gettext-Domain=switch-dock-hotplug-greeter
