[Desktop Entry]
Type=Application
Name=Switch display script
Exec=pkexec /usr/bin/dock-hotplug
NoDisplay=true
X-GNOME-AutoRestart=true
X-GNOME-Autostart-enabled=true
X-Ubuntu-Gettext-Domain=switch-dock-hotplug
