Package: switch-multimedia
Version: 1.1-1+24.04
Architecture: arm64
Maintainer: theofficialgman <dofficialgman@gmail.com>
Depends: mpv, smplayer, smplayer-themes, yt-dlp, libwidevinecdm0
Section: graphics
Priority: extra
Homepage: https://gitlab.com/switchroot
Description: Metapackage for all Nintendo Switch Multimedia Packages
