Package: qt6-gtk2-platformtheme
Version: 0.2-1
Architecture: arm64
Maintainer: theofficialgman <dofficialgman@gmail.com>
Depends: libc6 (>= 2.17), libgcc-s1 (>= 3.0), libgdk-pixbuf-2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.12.0), libgtk2.0-0 (>= 2.24.0), libpango-1.0-0 (>= 1.14.0), libqt6core6 (>= 6.2.0), libqt6gui6 (>= 6.1.2), libqt6widgets6 (>= 6.1.2), libstdc++6 (>= 5), libx11-6, qt6-base-abi (= 6.2.4)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/trialuser02/qt6gtk2
Description: Qt 6 extra widget styles - GTK+ 2 Platform theme
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the GTK+ 2 style and platform theme. Export
 QT_QPA_PLATFORMTHEME=gtk2 to enable it for all Qt applications.
