Package: switch-unity
Version: 1.0-4
Architecture: arm64
Maintainer: theofficialgman <dofficialgman@gmail.com>
Depends: unity, lightdm, onboard, gnome-software-plugin-flatpak, qt5-gtk2-platformtheme, fuse3, libfuse2
Conflicts: gnome-software-plugin-snap
Section: embedded
Priority: required
Homepage: https://gitlab.com/switchroot
Description: Metapackage for Unity only Nintendo Switch configuration packages
